* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  margin: auto;
  margin-top: 100px;
  background-color: #e0ebeb;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
